<div class="container">

	<table class="table">
		<thead>
			<tr>
				<th><%= User.all.count %> results</th>
				<th></th>
				<th>Investments</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
		       	 	<td><%= link_to user.name, user_path(user) %></td>
		       	 	<td><%= user.miniresume %></td>
		       	 	<td>under $1K to $25K<td>
		       	 	<td>Send Message<td>
		        </tr>
		    <% end %>
		</tbody>	   
	</table>
	
</div>