<style type="text/css">
	.container.cc-blogpost {
    display: block;
    max-width: 770px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    font-family: Raleway,sans-serif;
}

.header.mini.blog {
    margin-bottom: 0;
    padding: 70px 30px 0px 0px;
    -ms-flex-direction: column;
    flex-direction: column;
}

h1, h2 {
    font-weight: 700;
}

.rich-text.blog-post-content {
    margin-top: 32px;
    font-size: 1em;
    line-height: 1.65;
}

</style>

<div class="container">
<hr>
	<div class="row">
		<div class="header mini blog col-md-offset-1">
		   	<h1 class="col-md-11 mx-auto"><%= @blog.title %></h1>
		</div>
	</div>

	<div class="row">
		<div class="container cc-blogpost">
			<div class="text-block-9 blog-post">July 25, 2019</div>
			<div class="rich-text blog-post-content w-richtext">
				<%= raw @blog.body %>
			</div>
		</div>
	</div>
	  
</div>

<%# link_to 'Edit', edit_blog_path(@blog) %> |
<%# link_to 'Back', blogs_path %>
