<div class="container">
<hr>

<% unless current_user_subscribed? %>
	<p><b>Lists:</b> Here you can view your investor lists, create new ones and export them to CSV.</p>
	<%= link_to "Upgrade to pro today to create & download your own investor lists", premium_path, class: "btn btn-primary button-margin" %>
<% else %>

	<div class="col-md-2">
  		<p>Lists</p>

 	</div>
 	<div class="col-md-10">
	 	<ul class="media-list">
	      <p>Export List to CSV</p>
	      <%= render 'shared/search_results', results: @profiles %>
	      <% if current_user_subscribed? %>
	        <div class="text-center">
	          <%= will_paginate @profiles %>
	        </div>
	      <% end %>
	    </ul>
	</div>


<% end %>

</div>