<style type="text/css">
.point {
list-style-type: none;
}

.margin {
	margin-top: 15px;
}
</style>

<div class="container">
	<div class="row text-center">
		<h3><b>Become a full member from only $33!</b></h3>
		<p>Join hunderds of people who has raised investment on the UK's leading black community fundraising platform.</a></p>
		<hr>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption">
	        <h4 class="text-center"><b>Free</b><br>
	        <h4 class="text-center"><b>$0</b/>/month</h4></h4><br>
	        <ul class="margin">
		       	<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Access to database of 200+ investors</li>
		        <li class="point pull-left"><em class="fa fa-check fa-lg"></em> Unlimited searches</li>
		        <li class="point pull-left"><em class="fa fa-check fa-lg"></em> Remove query limitations</li>
				<li class="point pull-left"><em class="fa fa-times fa-lg"></em> Access to all search filters</li>
				<li class="point pull-left"><em class="fa fa-times fa-lg"></em> Create investor lists</li>
				<li class="point pull-left"><em class="fa fa-times fa-lg"></em> Export investor lists to CSV</li>
			</ul>
	        <li class="point text-center"><%= link_to "Get Started", new_subscription_path(plan: "onemonth"), class: "btn btn-primary" %></li>
	      </div>
	    </div>
	  </div>
	  <!--<div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption text-center">
	        <h4><b>3 Months</b><br><p><i>Great value</i></p><h4><b>£48</b></h4></h4>

	        <p>Payment of <b>£48</b> every 3 months<br>You can cancel at any time</p>

	        <p><%= link_to "Get Started", subscription_path(plan: "threemonths"), class: "btn btn-primary" %></p>
	      </div>
	    </div>
	  </div> -->
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption">
	        <h4 class="text-center"><b>Basic</b><br>
	        <h4 class="text-center"><b>$33</b/>/month<p>3 Day Free Trial</p></h4></h4>
	        <ul>
		       	<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Access to database of 200+ investors</li>
		        <li class="point pull-left"><em class="fa fa-check fa-lg"></em> Unlimited searches</li>
		        <li class="point pull-left"><em class="fa fa-check fa-lg"></em> Remove query limitations</li>
				<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Access to all search filters</li>
				<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Create list of 25 investors at a time</li>
				<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Export investor lists to CSV</li>
			</ul>
	        <li class="point text-center"><%= link_to "Get Started", new_subscription_path(plan: "monthbasic"), class: "btn btn-primary" %></li>
	      </div>
	    </div>
	  </div>

	   <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption">
	        <h4 class="text-center"><b>Pro</b><br>
	        <h4 class="text-center"><b>$69</b/>/month<p>3 Day Free Trial</p></h4></h4>
	        <ul>
		       	<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Access to database of 200+ investors</li>
		        <li class="point pull-left"><em class="fa fa-check fa-lg"></em> Unlimited searches</li>
		        <li class="point pull-left"><em class="fa fa-check fa-lg"></em> Remove query limitations</li>
				<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Access to all search filters</li>
				<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Create list of 50 investors at a time</li>
				<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Export investor lists to CSV</li>
			</ul>
	        <li class="point text-center"><%= link_to "Get Started", new_subscription_path(plan: "monthpro"), class: "btn btn-primary" %></li>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row text-center">
		<hr>
		<h3><b>Frequently asked questions</b></h3>
		<br>
	</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<p><b>What is your refund policy?</b><br>LinkedIn does not offer refunds except in certain situations and jurisdictions, as noted in our refund policy.</p>
				<p></p>
			</div>

			<div class="col-sm-6 col-md-6">
				<p><b>Can I change or cancel my plan later on?</b><br>Yes. You can downgrade or cancel anytime from your settings page. When you cancel, you will lose your Premium features at the end of your billing cycle. Be sure you use all your InMail messages before the cancellation goes into effect.</p>
				<p></p>
			</div>
		</div>
	</div>
</div>