<style type="text/css">
	
</style>

<div class="container">
	<div class="row text-center">
		<h3><b>Become a full member from only £24!</b></h3>
		<p>Join hunderds of people who has raised investment on the UK's leading black community fundraising platform.</a></p>
		<hr>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption text-center">
	        <h4><b>Free 3 Day Trial</b><br><h4><b>£0</b><p>for 3 days</p></h4></h4>
	        <li><em class="fa fa-check fa-lg"></em> Limited access to database of 200+ investors</li>
	        <li><em class="fa fa-check fa-lg"></em> Unlimited searches</li>
	        <li><em class="fa fa-check fa-lg"></em> Search results limited to 3 investors per query</li>
	        <li><em class="fa fa-times fa-lg"></em> Search filters</li>
	        <li><em class="fa fa-times fa-lg"></em> Message DiasporaProject Users</li>


	        <p><%= link_to "Get Started", subscription_path(plan: "sixmonths"), class: "btn btn-primary" %></p>
	      </div>
	    </div>
	  </div>
	  <!--<div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption text-center">
	        <h4><b>3 Months</b><br><p><i>Great value</i></p><h4><b>£48</b></h4></h4>

	        <p>Payment of <b>£48</b> every 3 months<br>You can cancel at any time</p>

	        <p><%= link_to "Get Started", subscription_path(plan: "threemonths"), class: "btn btn-primary" %></p>
	      </div>
	    </div>
	  </div> -->
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption text-center">
	        <h4><b>Pro</b><br><h4><b>£24</b><p>monthly</p></h4></h4>
	       	<li><em class="fa fa-check fa-lg"></em> Access to database of 200+ investors</li>
	        <li><em class="fa fa-check fa-lg"></em> Unlimited searches</li>
	        <li><em class="fa fa-check fa-lg"></em> Remove query limitations</li>
			<li><em class="fa fa-check fa-lg"></em> Access to all search filters</li>
			<li><em class="fa fa-check fa-lg"></em> Message DiasporaProject Users</li>

	        <p><%= link_to "Get Started", subscription_path(plan: "onemonth"), class: "btn btn-primary" %></p>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
		<div class="col-md-offset-1 col-sm-6 col-md-10">
			<table class="table"> 
				<thead> 
					<tr> 
						<th></th> 
						<th>Premium</th> 
						<th>Free</th> 
					</tr> 
				</thead> 

				<tbody> 
					
					<tr> 
						<th scope="row">Access to entire database</th> 
						<td><em class="fa fa-check fa-lg"></em></td> 
						<td><em class="fa fa-times fa-lg"></em></td> 
						
					</tr>
					<th scope="row">Access to search filters</th> 
						<td><em class="fa fa-check fa-lg"></em></td> 
						<td><em class="fa fa-times fa-lg"></em></td> 
					</tr>
					<tr> 
						<th scope="row">Messaging</th>
						<td><em class="fa fa-check fa-lg"></em></td> 
						<td>Preset replies only</td> 					
					</tr> 
					<tr> 
					
					<!--<tr> 
						<th scope="row">Request and intro</th> 
							<td><em class="fa fa-times fa-lg"></em></td>
							<td><em class="fa fa-check fa-lg"></em></td> 
					</tr> 
					<tr> 
						<th scope="row">Investors' social and contact details</th> 
							<td><em class="fa fa-times fa-lg"></em></td>
							<td><em class="fa fa-check fa-lg"></em></td> 
					</tr> 
					<tr> 
						<th scope="row">See who visited your company pages</th> 
							<td><em class="fa fa-times fa-lg"></em></td>
							<td><em class="fa fa-check fa-lg"></em></td>  
					</tr> -->
					<!--<tr>  
						<th scope="row">Discount entry to <a href="">events</a></th> 
							<td><em class="fa fa-times fa-lg"></em></td>
							<td><em class="fa fa-check fa-lg"></em></td> 
					</tr> -->
					<!--<tr> 
						<th scope="row">Interested in your company</th> 
							<td><em class="fa fa-check fa-lg"></em></td>
							<td><em class="fa fa-check fa-lg"></em></td> 
					</tr> -->
					<!--<tr> 
						<th scope="row">Create a company or project</th> 
							<td><b>Unlimited</b></td> 
							<td><b>Unlimited</b></td> -->
					</tr>
				</tbody> 
			</table>
			<p><a href="#" class="btn btn-primary btn-block" role="button"> Start your Free Trial</a></p>
			<!-- <p>Our Free Trial gives you <b>full access to the site</b> for 3 days. We won't charge your card until the end of your trial. You can cancel anytime, for any reason in the app.</p> -->
		</div>
	</div>
	<div class="row text-center">
		<hr>
		<h3><b>Frequently asked questions</b></h3>
		<br>
	</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<p><b>What is your refund policy?</b><br>LinkedIn does not offer refunds except in certain situations and jurisdictions, as noted in our refund policy.</p>
				<p></p>
			</div>

			<div class="col-sm-6 col-md-6">
				<p><b>Can I change or cancel my plan later on?</b><br>Yes. You can downgrade or cancel anytime from your settings page. When you cancel, you will lose your Premium features at the end of your billing cycle. Be sure you use all your InMail messages before the cancellation goes into effect.</p>
				<p></p>
			</div>
		</div>
	</div>
</div>