<div class="container">
	<div class="row text-center">
		<h3><b>Become a full member from only £24!</b></h3>
		<p>Don't have an account yet? Start your free trial.</p>
		<hr>
	</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption text-center">
        <h4><b>6 Months</b><br><p><i>Best value</i></p><h4><b>£64</b></h4></h4>

        <p>Payment of <b>£64</b> every 6 months<br>You can cancel at any time</p>

        <p><a href="#" class="btn btn-primary" role="button">Get Started</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption text-center">
        <h4><b>3 Months</b><br><p><i>Great value</i></p><h4><b>£48</b></h4></h4>

        <p>Payment of <b>£48</b> every 3 months<br>You can cancel at any time</p>

        <p><a href="#" class="btn btn-primary" role="button">Get Started</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption text-center">
        <h4><b>1 Months</b><br><p><i>Our most popular</i></p><h4><b>£24</b></h4></h4>

        <p>Payment of <b>£24</b> every 1 months<br>You can cancel at any time</p>

        <p><a href="#" class="btn btn-primary" role="button">Get Started</a>
      </div>
    </div>
  </div>
</div>

</div>