<style type="text/css">
  
  .max-height {
    height: 500px;
}


.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

</style>

<script type="text/javascript">
  
$(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 90;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "more";
    var lesstext = "";
    

    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '</span><span class="morecontent"><span>' + h + '</span><a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});
</script>


<p id="notice"><%# notice %></p>
<div class="container">
  <div class="text-center">
    <h1>Syndicates</h1>
    <h4>Invest with other diaspora investors · How it works</h4>
  </div>

  <hr>

<div class="row background">
      <% @syndicates.each do |syndicate| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail max-height">
          <div class="row">
          <br>
          <br>
            <%= link_to image_tag(syndicate.user.photo.url(:medium), :class => "img-circle profile_margin center", :width => "125x"), syndicate %>
          </div>
          <div class="caption text-center">
            <strong><%= link_to syndicate.user.name, syndicate, :class => "text-center"  %></strong>
            <p class="more"><%= syndicate.user.miniresume %></p>
            <br>
            <a href="index.html#advantages" class="btn btn-default">Back Syndicate</a>
          </div>
          <%# link_to 'Show', syndicate %>
            <% if syndicate.user == current_user %>
            <%#  link_to 'Edit', edit_syndicate_path(syndicate) %>
            <%#  link_to 'Destroy', syndicate, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
       </div>
      <% end %>
</div>
  <br>

</div>