<p id="notice"><%# notice %></p>
<div class="container">
  <div class="text-center">
    <h1>Syndicates</h1>
    <h4>Invest with other diaspora investors · How it works</h4>
  </div>

  <hr>

<div class="row background">
      <% @syndicates.each do |syndicate| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="row">
          <br>
          <br>
            <%= link_to image_tag(syndicate.user.photo.url(:medium), :class => "img-circle profile_margin center", :width => "125x"), syndicate %>
          </div>
          <div class="caption text-center">
            <strong><%= link_to syndicate.user.name, syndicate, :class => "text-center"  %></strong>
            <p><%= syndicate.user.miniresume %></p>
          </div>
          
          <a href="index.html#advantages" class="btn btn-default">Back Syndicate</a>
          <%# link_to 'Show', syndicate %>
            <% if syndicate.user == current_user %>
            <%#  link_to 'Edit', edit_syndicate_path(syndicate) %>
            <%#  link_to 'Destroy', syndicate, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
       </div>
      <% end %>
</div>
  <br>

</div>