<style type="text/css">
	
.background {
    margin-bottom: 28px;
    background-color: #1d2b39;
    padding: 75px 0 75px;
}

.u-fontSize48 {
    font-size: 48px;
    line-height: 56px;
}

p {
	font-size: 0.9rem;
}

.u-colorWhite {
    color: #fff;
}

.u-fontWeight100 {
    font-weight: 100;
    font-family: "helvetica neue",aktiv-grotesk-std,helvetica,arial,freesans,"liberation sans","numbus sans l",sans-serif;
}

.u-textAlignCenter {
    text-align: center;
}

</style>


<div class="background">
	<div class="title u-colorWhite u-fontSize48 u-fontWeight100 u-textAlignCenter">
		Create a Syndicate
	</div>
</div>

<%= render 'form' %>

<%# link_to 'Back', syndicates_path %>
